* {
    margin: 0;
    padding: 0;
}

header img {
    width: 240px;
    margin-left: 100px;
}

body {
    background: url("/media/billing_page_bg.jpg");
   color: white; 
}

.main {
    width: 500px;
    height: 90vh;
    margin: -175px auto 0px auto;
}

h2 {
    text-align: center;
    padding: 20px;
    font-family: sans-serif;
}

.billing {
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 87vh;
    font-size: 18px;
    border-radius: 15px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    box-shadow: 2px 2px 15px rgba(0, 0, 0, 0.3);
}

form#billing {
    margin: 0 0 0 40px;
}

label {
    font-size: 18px;
}

.io1 {
    width: 300px;
    height: 8px;
    border: 1px solid #ddd;
    border-radius: 5px;
    outline: 0;
    padding: 7px;
    background-color: #fff;
    box-shadow: inset 1px 1px 5px rgba(0, 0, 0, 0.3);
}

.buttons {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

#submit{
    width: 150px;
    /* margin: 5px 0 0 100px; */
    margin: 0 10px;
    padding: 5px;
    border-radius: 15px;
    font-size: 15px;
    font-weight: 600;
    background-color: rgba(202, 202, 217, 0.81);
    cursor: pointer;
    border: 1px solid rgba(255, 255, 255, 0.3);
    box-shadow: 1px 1px 1px 5px rgba(0, 0, 0, 0.3);
}

#amt_confirm {
    width: 100px;
    height: 25px;
    font-size: 9px;
    border-radius: 25px;
    box-shadow: 1px 1px 1px 5px rgba(0, 0, 0, 0.3);
}

input#submit:hover {
    background-color: white;
    border-color: #e3e6e8;
    transition: 0.25s;
}
/* input#reset:hover {
    background-color: white;
    border-color: #e3e6e8;
    transition: 0.25s;
} */

.io2 {
    height: 30px;
    border-radius: 5px;
    width: 200px;
} 

.io3 {
    height: 30px;
    border-radius: 5px;
    width: 100px;
}