* {
    margin: 0;
    padding: 0;
}

.navbar {
    width: 85%;
    margin: auto;
    padding: 10px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    width: 200px;
    height: 150px;
    cursor: pointer;
}
.navbar ul li {
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    position: relative;
}

.navbar ul li a {
    text-decoration: none;
    color: white;
    text-transform: uppercase;
}

.navbar ul li::after {
    content: '';
    height: 3px;
    width: 0%;
    background: #009688;
    position: absolute;
    left: 0;
    bottom: -10px;
    transition: 0.5s;
}

.navbar ul li:hover::after {
    width: 100%;
}

body {
    background-image: linear-gradient(rgba(0, 0, 0.75), rgba(0, 0, 0, 0.75)), url(/media/contact_us_bg.jpg);
    height: 100vh;
    font-size: 15px;
    align-items: center;
    justify-content: center;
    padding: auto;
    background-size: cover;
    background-position: center;
}

.container {
    width: 60vw;
    margin: 0px auto;
    background: rgba(255, 255, 255, 0.54);
    border-radius: 10px;
    padding: 30px;
}

.container h1 {
    font-family: 'Rowdies', cursive;
}

.container p{
    font-family: 'Arimo', sans-serif;
}

.contact {
    background: rgba(35, 35, 149, 0.442);
    margin: 10px;
    padding: 10px;
    border-radius: 25px;
}
.contact h3{
    font-family: 'Arimo', sans-serif;
}

tr td:first-child {
    padding-right: 20px;
}

tr td{
    padding-top: 20px;
}