* {
    margin: 0;
    padding: 0;
}

body {
    background-image: linear-gradient(rgba(0, 0, 0.75), rgba(0, 0, 0, 0.75)), url(/media/contact_us_bg.jpg);
    font-size: 15px;
    align-items: center;
    justify-content: center;
    padding: auto;
    background-size: cover;
    background-position: center;
}

.container {
    width: 60vw;
    margin: 150px auto;
    background: rgba(255, 255, 255, 0.414);
    border-radius: 10px;
    padding: 30px;
}

.container h1 {
    font-family: 'Rowdies', cursive;
}

.container p{
    font-family: 'Arimo', sans-serif;
}

.contact {
    background: rgba(35, 35, 149, 0.442);
    margin: 10px;
    padding: 10px;
    border-radius: 25px;
}
.contact h3{
    font-family: 'Arimo', sans-serif;
}

tr td:first-child {
    padding-right: 20px;
}

tr td{
    padding-top: 20px;
}