* {
    margin: 0;
    padding: 0;
}

html {
    height: 100%;
    box-sizing: border-box;
}

body {
    position: relative;
    margin: 0;
    min-height: 100%;
    box-sizing: inherit;
}

.banner {
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0, 0, 0.75), rgba(0, 0, 0, 0.75)), url(/media/home-background.jpg);
    background-size: cover;
    background-position: center;
}

.navbar {
    width: 85%;
    margin: auto;
    padding: 10px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    width: 200px;
    height: 150px;
    cursor: pointer;
}
.navbar ul li {
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    position: relative;
}

.navbar ul li a {
    text-decoration: none;
    color: white;
    text-transform: uppercase;
}

.navbar ul li::after {
    content: '';
    height: 3px;
    width: 0%;
    background: #009688;
    position: absolute;
    left: 0;
    bottom: -10px;
    transition: 0.5s;
}

.navbar ul li:hover::after {
    width: 100%;
}

.content {
    width:90vw;
    height: 75vh;
}

.graph_option {
    color: white;
    background-color:rgba(255, 255, 255, 0.401);
    width: 265px;
    height: 35px;
    border-radius: 10px;
    align-items: center;
    justify-content: center;
    display: flex;
    margin: -20px 0 0 0;
    position: absolute;
    right: 135px;
}

.graph_type {
    margin: 7px;
}

#curve_chart {
    width: 900px; 
    height: 400px;
}

footer {
    background: rgb(35, 35, 35);
    color: white;
    font-size: 18px;
    padding: 20px;
    text-align: center;
    position: absolute;
    right: 0;
    left: 0;
    bottom: 0;
}