* {
    margin: 0;
    padding: 0;
}

.navbar {
    width: 85%;
    margin: auto;
    padding: 10px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    width: 200px;
    height: 150px;
    cursor: pointer;
}
.navbar ul li {
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    position: relative;
}

.navbar ul li a {
    text-decoration: none;
    color: white;
    text-transform: uppercase;
}

.navbar ul li::after {
    content: '';
    height: 3px;
    width: 0%;
    background: #009688;
    position: absolute;
    left: 0;
    bottom: -10px;
    transition: 0.5s;
}

.navbar ul li:hover::after {
    width: 100%;
}

.banner {
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0, 0, 0.75), rgba(0, 0, 0, 0.75)), url(/media/login-page-bg.png);
    background-size: cover;
    background-position: center;
}

/* body {
    background: linear-gradient(120deg, #2980b9, #8e44ad);
    height: 100vh;
    overflow: hidden;
} */

header img {
    width: 240px;
    margin-left: 100px;
    height: 200px;
    display: flex;
    
}

.login {
    position: relative;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    height: 325px;
    background: white;
    border-radius: 15px;
}

.login h1 {
    text-align: center;
    color: black;
    padding: 20px 0 20px 0;
    border-bottom: 1px solid silver;
    font-family: montserrat;
}

.login form {
    padding: 0 40px;
    box-sizing: border-box;
}

form .text_field {
    position: relative;
    border-bottom: 2px solid #adadad;
    margin: 30px 0;

}

.text_field input {
    width: 100%;
    padding: 0 5px;
    height: 40px;
    font-size: 16px;
    border: none;
    background: none;
    outline: none;
}

.text_field label {
    position: absolute;
    top: 50%;
    left: 5px;
    color: #adadad;
    transform: translateY(-50%);
    font-size: 16px;
    pointer-events: none;
    transition: 0.5s;
}

.text_field span::before {
    content: '';
    position: absolute;
    top: 40px;
    left: 0;
    width: 100%;
    height: 2px;
    background: #2691d9;
    transition: 0.5s;
}

.text_field input:focus ~ label,
.text_field input:valid ~ label {
    top: -5px;
}

text_field input:focus ~ span::before,
.text_field input:valid ~ span::before {
    width: 100%;
}

button {
    width: 100%;
    height: 45px;
    border: 1px solid;
    background: #2691d9;
    border-radius: 25px;
    align-items: center;
    font-size: 18px;
    color: #e9f4fb;
    font-weight: 700;
    cursor: pointer;
    outline: none;
}

button:hover {
    border-color: #0d639d;
    transition: 0.5s;
}