<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Billing</title>
    <link rel="icon" href="/media/favicon.ico" type="image/favicon">
    <link rel="stylesheet" href="/style/billing_page.css">
</head>
<body>
    <header>
        <img src="/media/TollEase-1.png" alt="">
    </header>
    <div class="main">
        <div class="billing">
            <h2>Billing Here</h2>
            <form action="" method="post" id="billing">
                <label for="">Serial No: </label>
                <br>
                <input type="text" name="serial_no" id="sno" placeholder="Enter the Serial No" class="io1">
                <br><br>
                <label for="">Vehicle Type: </label>
                <br>
                <select name="vehicle_type" id="" class="io2" >
                    <option value="vehicle_type">Select Vehicle Type</option>
                    <option value="vehicle_type">Cars/Passenger vehicles</option>
                    <option value="vehicle_type">Motorcycles</option>
                    <option value="vehicle_type">Trucks/Commercial vehicles</option>
                    <option value="vehicle_type">Select Vehicle Type</option>

                </select>
                <br><br>
                <label for="">Vehicle Number: </label>
                <br>
                <input type="text" name="Vehicle_no" id="Vehicle_no" placeholder="Enter the Vehicle No" class="io1">
                <br><br>
                <label for="">Date: </label>
                <br>
                <input type="text" name="date" id="datePicker" class="io2">
                <br><br>
                <label for="">Time: </label>
                <br>
                <input type="text" name="time" id="timePicker" class="io2">
                <br><br>
                <label for="">Entry Point: </label>
                <br>
                <input type="name" name="entry_point" id="entry_point" class="io1">
                <br><br>
                <label for="">Exit Point: </label>
                <br>
                <input type="name" name="exit_point" id="exit_point" class="io1">
                <br><br>
                <label for="">Amount: </label>
                <br>
                <input type="number" name="amount" id="amount" class="io1">
                <br><br>
                <input type="submit" value="SUBMIT" name="submit" id="submit">
            </form>
        </div>
    </div>
</body>
<script>
    var date = new Date();
    var year = date.getFullYear();
    var month = String(date.getMonth()+1).padStart(2, '0');
    var todayDate = String(date.getDate()).padStart(2, '0');
    var datePattern = todayDate + '-' + month +'-' + year;
    document.getElementById("datePicker").value = datePattern;
    // document.write(datePattern);

    var hour = date.getHours();
    var minutes = date.getMinutes();
    var seconds = date.getSeconds();
    var timePattern = hour +' : '+ minutes +' : '+ seconds;
    document.getElementById("timePicker").value = timePattern;
    document.write(timePattern);
</script>
</html>