<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Arimo:wght@500&family=Rowdies:wght@700&display=swap"
        rel="stylesheet">
    <title>Contact Us</title>
    <link rel="icon" href="/media/favicon.ico" type="image/favicon">
    <link rel="stylesheet" href="/style/contact_us.css">
</head>

<body>
    <div class="navbar">
        <img src="/media/TollEase-1.png" class="logo">
        <ul>
          <li><a href="/templates/index.html">Home</a></li>
          <li><a href="/templates/login.html">Login</a></li>
          <li><a href="/templates/about.html">About</a></li>
          <li><a href="/templates/contact_us.html">Contact Us</a></li>
        </ul>
      </div>
    <div class="container">
        <h1>Connect With Us <br><br></h1>
        <p>Thank you for visiting our website!</p>
        <p>We value your feedback and are always here to help with any questions or concerns you may have.</p>
        <div class="contact">
            <br>
            <h3>Reach Us</h3>
            <table>
                <tr>
                    <td>Email</td>
                    <td>karthiknh125@.com</td>
                    <td>ron99.rm@gmail.com</td>
                </tr>
                <tr>
                    <td>Phone</td>
                    <td>9480991190</td>
                    <td>9538663563</td>
                </tr>
                <tr>
                    <td>Address</td>
                    <td>#212, Ground Floor, 7th Main, 4th A Cross <br>
                        Vijaynagar <br>
                        Bengaluru 560040</td>
                </tr>
            </table>
        </div>
    </div>
</body>

</html>