<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/style/index.css">
  <title>TollEase - For Smarter Commutes</title>
  <link rel="icon" href="/media/favicon.ico" type="image/favicon">
</head>
<body>
  <div class="banner">
    <div class="navbar">
      <img src="/media/TollEase-1.png" class="logo">
      <ul>
        <li><a href="#">Home</a></li>
        <li><a href="/templates/login.html">Login</a></li>
        <li><a href="/templates/about.html">About</a></li>
        <li><a href="/templates/contact_us.html">Contact Us</a></li>
      </ul>
    </div>
    <div class="content">
      <div class="graph_option">
        <input name="graph_type" class="graph_type" value="hourly" id="hourly" type="radio" checked>
        <label for="hourly">Hourly</label>
        <input name="graph_type" class="graph_type" value="one_day" id="one_day" type="radio">
        <label for="hourly">One Day</label>
        <input name="graph_type" class="graph_type" value="one_week" id="one_week" type="radio">
        <label for="hourly">One Week</label>
      </div>
    </div>
  </div>
  <footer>
    Copyright &copy; <script>document.write(new Date().getFullYear())</script> TollEase.com
  </footer>
</body>
</html>