<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/style/index.css">
  <title>TollEaze - For Smarter Commutes</title>
</head>
<body>
  <div class="banner">
    <div class="navbar">
      <img src="/media/TollEase-1.png" class="logo">
      <ul>
        <li><a href="#">Home</a></li>
        <li><a href="#">Register</a></li>
        <li><a href="#">Login</a></li>
        <li><a href="#">About</a></li>
        <li><a href="#">Contact</a></li>
      </ul>
    </div>

  </div>
  <div class="content">
    <h1></h1>
  </div>
</body>
</html>