<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style/login.css">
    <title>login</title>
    <link rel="icon" href="/media/favicon.ico" type="image/favicon">
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Oswald:wght@200&family=Roboto:wght@100&family=Ubuntu:wght@300&display=swap');
    </style>
</head>
<body>
    <div class="banner">
        <div class="navbar">
            <img src="/media/TollEase-1.png" class="logo">
            <ul>
              <li><a href="/templates/index.php">Home</a></li>
              <li><a href="/templates/login.html">Login</a></li>
              <li><a href="/templates/about.html">About</a></li>
              <li><a href="/templates/contact_us.html">Contact Us</a></li>
            </ul>
          </div>
        <div class="login">
            <h1>Login</h1>
            <form action="#" method="post">
                <div class="text_field">
                    <input type="text" name="userid" id="userid" required>
                    <span></span>
                    <label for="text_field">User ID</label>
                </div>
                <div class="text_field">
                    <input type="password" name="password" id="password" required>
                    <span></span>
                    <label for="text_field">Password</label>
                </div>
                <a href="/templates/billing_page.php">
                    <button type="submit" onclick="auth()">LOGIN</button>
                </a>
            </form>
        </div>
    </div>
</body>
<script>
    function auth() {
        var userid = document.getElementById("userid").value;
        var password = document.getElementById("password").value;
        if(userid=="admin" && password=="admin123") {
            window.location.assign("billing_page.php");
            alert('LOGIN SUCCESSFULL...!');
        }
        else {
            alert("INVALID INFORMATION...");
            return;
        }
    }
</script>
</html>